* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-block-start: 3rem;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: cursive;
    overflow-y: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    border-block-start: 10px solid white;
    margin-inline: auto;
    margin-block-end: 3vh;
    width: 95%;
    height: 4rem;
    border-radius: 10px;    
}

footer {
    position: sticky;
    bottom: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 3rem;
    border-block-end: 10px solid white;
    padding-inline: 1em;
    margin-block-start: 3vh;

    margin-inline: auto;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    font-size: 8px;
}

header, footer {
    border: 1px solid rgb(108, 120, 133);
    background-color: #463c3c4d ;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin-inline: auto;
    border-collapse: collapse;
    font-size: 17px;
}

.books-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
    margin: 1vh 0;
}

.add-book{
    right: auto;
    margin-inline-start: 10%;
    margin-block-end: 10px;
}

.books-container thead {
    border: 1px solid gray;
    background-color: lightblue;
}

table, th, tr{
    border: 1px, solid;
}

th {
    padding: .5em 1em;
}

img {
    max-width: 100px;
}

.add-book, .read, .update, .delete{
    padding: .5em 1em;
    border-radius: .7em;
    cursor: pointer;
}

.read {
    background-color: rgb(123, 197, 240);
}
.update {
    background-color: rgb(255, 236, 0);
}
.delete {
    background-color: rgb(255, 166, 0);
}
.read:hover, .update:hover, .delete:hover {
    background-color: rgba(34, 178, 53, 0.523);
}

.backdrop {
    display: flex;
    justify-content: center;
    position: fixed;
    inset: 0;
    
    background-color: #b1b1b199;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    z-index: 0;
}

.modal {
    display: flex;
    position: fixed;
    top: 20vh;
    min-width: 300px;
    max-width: 500px;
    min-height: 240px;
    max-height: 240px;
    padding: 1em;    
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #adadad;
}
.modal .close-btn{
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    cursor: pointer;

    border: 2px solid rgb(128, 120, 120);
    box-shadow: 3px 3px 6px;
}

.modal pre {
    white-space: pre-wrap; 
    word-break: break-word; 
    max-height: 100%; 
}

.details-container pre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    min-width: 0;
}

.book-cover {
    max-height: 180px;
    max-width: 120px;
    margin-right: 2em;
}

