/* General Styles */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-block-start: 3rem;
}

body {
  background-image: url('../img/library-bg.jpg');
  /* background-color: #67664f; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: cursive;
  overflow-y: hidden;
}

/* Header and Footer */
header {
  top: 10px;
  border-block-start: 10px solid white;
  margin-block-end: 2vh;
  width: 95%;
  height: 4rem;
}

footer {
  bottom: 10px;
  height: 3rem;
  border-block-end: 10px solid white;
  padding-inline: 1em;
  margin-block-start: 3vh;
  width: 100%;
  font-size: 8px;
}

h1 {
  text-align: center;
}

header,
footer {
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  border-radius: 10px;

  border: 1px solid rgb(108, 120, 133);
  background-color: beige;
}

/* Table and Book Container */
.table-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-inline: auto;
  border-collapse: collapse;
  font-size: 17px;
  width: 90%;
  margin-block-start: 10px;
}

.books-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  margin: 1vh 0;
}

.books-container thead {
  border: 1px solid gray;
  background-color: lightgray;
}

.books-container tbody {
  background-color: beige;
}

table,
th,
tr {
  border: 1px solid black;
}

th {
  padding: 0.5em 1em;
}

/* Button and Features Container */
.features-container {
  position: sticky;
  top: -1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  /* margin-inline: 1%; */
  margin-block: 10px;
}

.filters-container {
  position: sticky;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f4e7;
  padding-block-end: 20px;
  padding-inline: 15px;
  margin-inline-start: 3vw;
  margin-block-start: 5vh;
  border: 1px solid black;
  border-radius: 10px;
}

.filters-container h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #4a4a4a;
}



.filters-container h3 {
  align-self: flex-start;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #5a5a5a;
}

.body-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* .custom-slider {
    -webkit-appearance: none;

    width: 100%;
    height: 8px;
    background-color: beige;    
} */

.stars-filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.stars-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.7em;
  padding: 10px;
  direction: rtl; 
  height: 5vh;
}

.stars-filter span {
  border-radius: 5px;
  color: gold;
  font-size: 200%;
  cursor: pointer;
}

.stars-filter .star {
  font-size: 24px;
  color: lightgray;
  cursor: pointer;
  transition: color 0.3s;
}

.stars-filter .star.selected,
.stars-filter .star:hover {
  color: gold;
}

.stars-filter .star {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.2s;
}

.stars-filter .star::after {
  content: "☆";
  color: #676666;
  transition: color 0.2s;
}

.stars-filter .star:hover::after,
.stars-filter .star:hover ~ .star::after {
  content: "★";
  color: #ffd700;
}

.stars-filter .star.selected::after,
.stars-filter .star.selected ~ .star::after {
  content: "★";
  color: #ffd700;
}

.filter-stars-button {
  font-size: 0.9rem;
  background-color: #fff;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  border-radius: 0.7em;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  height: 5vh;
  min-width: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px #adadad;
}

.filter-stars-button:hover {
  background-color: #ffe8c2;
}

.sorting-container{
  display: flex;
  align-items: center;
  /* justify-self: center; */
  gap: 10px;
}

.sort-select, 
.sorting-direction-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
}


.sorting-direction-button {
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  border-radius: 0.7em;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px #adadad;
}

.sorting-direction-button:hover {
  background-color: #ffe8c2;
} 

.filter-stars-button span {
  border-radius: 0.7em;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.sorting-direction-button span {
  border-radius: 0.7em;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.descending-arrow {
  transform: rotate(0);
}

.ascending-arrow {
  transform: rotate(180deg);
}

.add-book-container {
  position: fixed;
  z-index: 12;
}

.add-book-btn {
  right: auto;
  margin-inline-start: 10%;
  margin-block-end: 10px;
}

/* Modal and Book Details */
.add-class-backdrop,
.backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  inset: 0;

  background-color: #b1b1b199;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  z-index: 2;
}

.modal {
  display: flex;
  position: fixed;
  top: 20vh;
  min-width: 518px;
  min-height: 280px;
  padding: 1em;
  background-color: #fcfcfc;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #adadad;
}

.modal .close-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  cursor: pointer;

  border: 2px solid rgb(128, 120, 120);
  box-shadow: 3px 3px 6px;
}

.modal div {
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
}

.book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}

.book-info h3 {
  font-size: 1.2rem;
  margin: 0;
}

.book-cover {
  max-height: 35vh;
  max-width: 20vw;
  margin-right: 1.5em;
}

/* User Message */
.user-msg {
  position: fixed;
  bottom: 70px;
  right: 20px;
  padding: 10px;
  border-radius: 4px;
}

.user-msg.success {
  color: #155724;
  background-color: #c0ebca;
}

.user-msg.error {
  color: #721c24;
  background-color: #f4bcc0;
}

.hide {
  display: none;
}

/* Statistics and Filters */
.statistic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  font-size: 2.5vh;
}

.on-books-message {
  height: 20vh;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
}

.views-container {
  display: flex;
  align-self: center;
  right: auto;
  margin-inline-start: 10%;
  margin-block-end: 10px;
}

.btn-table,
.btn-cards {
  display: flex;
}

.icon {
  cursor: pointer;
}

/* Cards Layout */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2vw;
  overflow-y: auto;
  margin-block: 10px;
}

.book-preview {
  position: relative;
  background-color: beige;
  color: black;
  width: 300px;
  margin: 0.5em;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-preview .btn-remove {
  float: right;
}

.book-preview img {
  max-width: 100%;
  height: 400px;
}

.book-preview h5 {
  font-size: 1em;
  text-transform: capitalize;
  text-decoration: overline;
  margin: 0.5em 0px;
}

.book-preview h6 {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.book-preview h6 span {
  color: tomato;
}

.book-preview .close-btn {
  position: absolute;
  align-self: flex-end;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  cursor: pointer;

  border: 2px solid rgb(128, 120, 120);
  box-shadow: 3px 3px 6px;
}

/* Add Book Form */
.add-book-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.5vh;
  height: auto;
}

.form {
  display: flex;
  position: fixed;
  top: 17vh;
  left: 15vw;
  right: auto;
  min-width: 289px;
  min-height: 400px;
  padding: 1em;
  background-color: #fcfcfc;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #adadad;
}

.form .close-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  cursor: pointer;

  border: 2px solid rgb(128, 120, 120);
  box-shadow: 3px 3px 6px;
}

/* Add Book Form Title */
.add-book-form-title {
  align-self: center;
}

.submit {
  margin-top: 2em;
  align-self: center;
}

/* Sorting Buttons */
.descending-title-sort,
.ascending-title-sort,
.descending-price-sort,
.ascending-price-sort {
  cursor: pointer;
}

/* Image */
img {
  max-width: 100px;
}

.submit,
.add-book-btn,
.show-details-btn,
.update-btn,
.remove-btn {
  padding: 0.5em 2em;
  border-radius: 0.7em;
  cursor: pointer;
  margin-block-end: 0.2em;
  transition: background-color 0.3s ease;
}

.submit:hover,
.add-book-btn:hover {
  background-color: #959999;
  transition: background-color 0.3s ease;
}

.input-filter {
  cursor: text;
  width: 16em;
  font-size: 1rem;
  height: 40px;
  /* border-radius: 5px; */
  border-radius: 0.7em;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  transition: border-color 0.3s;
}

.input-filter:focus {
  border-color: #ffa500;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.sort-select {
  width: 12em;
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 0.7em;
  cursor: pointer;
}

.clear-btn {
  font-size: 1.1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.7em;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-btn:hover {
  background-color: #ffd6d6;
}

.show-details-btn {
  background-color: sienna;
}

.update-btn {
  background-color: chocolate;
}

.remove-btn {
  background-color: coral;
}

.show-details-btn:hover,
.update-btn:hover,
.remove-btn:hover {
  background-color: burlywood;
}